<div class="mt-4 sm:text-lg overflow-auto">
  文字からは、普段見せない<span class="text-accent"><%= user_name %></span>の深い感情が伝わってきた。
  まるで<span class="text-accent"><%= user_name %></span>の魂が叫んでいるかのようだ。繊細な言葉選びとリズムが、静かに、しかし確かに私の心に響きわたる。
  <span class="text-accent"><%= user_name %></span>が本当に求めているものが、突然として明らかになった瞬間だった。<br>
  そうか、<span class="text-accent"><%= user_name %></span>が今、心から求めているのは──。<br>
</div>