<div class="mt-8 sm:text-lg overflow-auto">
  喫茶店の窓際で、柔らかな陽光がテーブルを照らしている。<br>
  私と<span class="text-accent"><%= user_name %></span>は、お気に入りのコーヒーショップで午後のひと時を楽しんでいた。
  私たちの間には、会話が途切れることなく、温かいコーヒーのカップが並んでいる。<br>
  何気ない日常が穏やかに過ぎていく。<br>
  しかし、その平和なひと時は、突然の出来事によって少しだけ変わり始めた。<br>
  <span class="text-accent"><%= user_name %></span>が席を立っていた時、通りすがりの見知らぬ客が、
  不注意にも<span class="text-accent"><%= user_name %></span>のノートを床に落としてしまったのだ。
  私は慌ててノートを拾い上げた。その時、うっかりとページがめくれてしまい、
  ノートの中身が目に飛び込んできた。そこには、<span class="text-accent"><%= user_name %></span>が心を込めて綴った詩が記されていた──。
</div>