<div class="my-10 mx-auto w-11/12 max-w-3xl">
  <div class="card w-full image-full shadow-xl">
    <figure><%= image_tag 'coffe.webp', alt: '喫茶店' %></figure>
    <div class="card-body">
      <h2 class="card-title justify-center text-4xl">- Story1 -</h2>

      <%= render 'story1', user_name: @quest.user.name %>

      <div class="card-actions justify-center mt-4">
        <%= link_to 'Story2へ', choice_quest_path(@quest), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <%= render 'caution_note' %>

</div>