<%= turbo_stream.replace "show_card" do %>
  <turbo-frame id="show_card">
    <div class="card w-full mx-auto bg-base-200 shadow-xl">
      <div class="flex flex-col md:flex-row items-center">
        <figure>
          <%= image_tag 'note.png', alt: 'Note', class: 'px-8 pt-8 md:pr-0 md:py-8 rounded-xl' %>
        </figure>
        <div class="card-body items-center text-left text-neutral">
          <h2 class="card-title"><%= @quest.title %></h2>
          <p class="text-sm"><%= @quest.quest %></p>
        </div>
      </div>
    </div>
  </turbo-frame>
<% end %>
