<% content_for(:title, t('.title')) %>

<div class="container mx-auto px-4">
  <div class="max-w-md mx-auto my-10">
    <h1 class="text-4xl font-bold mb-5 text-center">パスワードリセット申請</h1>
    <%= form_with url: password_resets_path, local: true do |f| %>
      <div>
        <%= f.label :email, User.human_attribute_name(:email), class: "block text-sm font-medium text-gray-700" %><br/>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <%= f.submit '送信', class: "btn btn-primary w-full" %>
    <% end %>
  </div>
</div>
