<div class="hero min-h-screen bg-white rounded-b-[240px]">
  <div class="hero-content flex-col lg:flex-row">
    <div>
      <div class="max-w-md">
        <%= image_tag 'titlelogo.png', alt: 'gift_request_logo' %>
      </div>
      <%= link_to 'さっそく、始める', requests_path, class: "btn btn-primary skeleton bg-primary rounded-full" %>

    </div>
    <div class="max-w-md">
      <%= image_tag 'bearbox.png', alt: 'bear&giftbox' %>
    </div>
  </div>
</div>