<h1 class="text-3xl font-bold underline">
    ギフトリクエスト
</h1>
<%= link_to '新規登録', new_user_path, class: "bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2" %>

<%= link_to 'ログイン', login_path, class: "btn" %>

<button class="btn btn-secondary">btn btn-secondary</button>
