<h1 class="text-3xl font-bold underline">
    ギフトリクエストートップページ (^^)
</h1>
<h1 class="text-3xl">
    ギフトリクエストートップページ (^^)
</h1>
    <%= link_to '#' do %>
      <%= image_tag 'quest.svg', alt: 'quest', class: "h-9" %>
      <% end %>
      <%= image_tag 'menu.svg', alt: 'quest', class: "h-7" %>
