<% content_for(:title, t('.title')) %>

<h1 class="text-3xl font-bold underline">
    ギフトリクエストートップページ (^^)
</h1>
<button type="button" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 ...">
  Hover me
</button>