<div class="hero min-h-screen bg-white rounded-b-[240px]">
  <div class="hero-content flex-col lg:flex-row">
    <div>
      <div class="max-w-md">
        <%= image_tag 'titlelogo.png', alt: 'gift_request_logo' %>
      </div>
      <button class="btn btn-primary">さっそく、始める</button>
    </div>
    <div class="max-w-md">
      <%= image_tag 'bearbox.png', alt: 'bear&giftbox' %>
    </div>
  </div>
</div>