<footer class="footer footer-center p-4 bg-base-200 text-base-content space-y-0">
  <nav class="flex flex-col md:flex-row justify-center md:justify-between text-center">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問合せ</a>
  </nav>
    <p class="flex mt-2">©2024 ギフトリクエスト</p>
</footer>
