<footer class="bg-cyan-600/10"">
  <div class="container mx-auto py-4 px-5 flex flex-wrap justify-center items-center">
    <div class="flex justify-center items-center text-xs mb-4">
      <%= link_to '利用規約', "#", class: "mr-4 hover:text-accent" %>
      <%= link_to 'プライバシーポリシー', "#", class: "mr-4 hover:text-accent" %>
      <%= link_to 'お問合せ', "#", class: "hover:text-accent" %>
    </div>
    <p class="text-sm text-center w-full">©2024 ギフトリクエスト</p>
  </div>
</footer>
