<div class="max-w-screen-xl mx-auto py-6 md:px-8">
  <h1 class="text-3xl font-bold flex items-center"><%= image_tag 'quest.svg', alt: 'quest', class: "h-9 mr-2" %>みんなのクエスト</h1>

  <% if @requests.present? %>
    <div class="flex flex-wrap -mx-2">
      <%= render @requests %>
    </div>
  <% else %>
    <p>クエストはありません</p>
  <% end %>
 </div>
